$default-font: "open-sans", sans-serif
$accent: #f3f3f3
$light: #76c7c0
$dark: #62bdbd
$redl: #e8645a
$redd: #e2534b
$red3: #e1524b

$text: #7f8c8c
$text2: #777

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
